In [6]:
import pandas as pd

df_metadata = pd.read_csv('./data/cleaned_fma_metadata.csv')
df_features = pd.read_csv('./data/cleaned_fma_features.csv')
df_metadata.head()

   track_id      track_title artist_name           album_title  album_id
0       2.0             Food        AWOL  AWOL - A Way Of Life         1
1       3.0     Electric Ave        AWOL  AWOL - A Way Of Life         1
2       5.0       This World        AWOL  AWOL - A Way Of Life         1
3      10.0          Freeway   Kurt Vile     Constant Hitmaker         6
4      20.0  Spiritual Level  Nicky Cook                 Niris         4

In [7]:
df_features.head()

,track_id,mfcc_mean_1,mfcc_mean_2,mfcc_mean_3,mfcc_mean_4,mfcc_mean_5,mfcc_mean_6,mfcc_mean_7,mfcc_mean_8,mfcc_mean_9,...,spectral_centroid_mean_1,spectral_centroid_std_1,spectral_bandwidth_mean_1,spectral_bandwidth_std_1,spectral_rolloff_mean_1,spectral_rolloff_std_1,rmse_mean_1,rmse_std_1,zcr_mean_1,zcr_std_1
0,2,-164.0,117.0,-41.8,29.1,-15.10,18.9,-8.92,12.00,-4.250,...,1640.0,720.0,1610.0,437.0,3270.0,1300.0,3.19,2.54,0.0856,0.0614
1,3,-159.0,120.0,-33.2,47.3,-6.25,31.4,-5.26,11.60,-1.600,...,1760.0,973.0,1740.0,487.0,3510.0,1650.0,3.61,1.95,0.0846,0.0693
2,5,-205.0,132.0,-16.1,41.5,-7.64,16.9,-5.65,9.57,0.503,...,1290.0,665.0,1510.0,474.0,2770.0,1320.0,3.25,2.59,0.0531,0.0449
3,10,-136.0,157.0,-53.5,17.2,6.87,13.9,-11.70,8.36,-5.130,...,1360.0,669.0,1420.0,605.0,2600.0,1520.0,3.89,2.00,0.0775,0.0408
4,20,-135.0,115.0,12.4,19.8,18.70,19.6,3.57,12.10,-2.290,...,1730.0,482.0,2490.0,340.0,4200.0,1500.0,4.60,2.18,0.0472,0.0310

In [8]:
df_metadata["track_id"] = df_metadata["track_id"].astype(int)
df_features["track_id"] = df_features["track_id"].astype(int)

df_joined = df_metadata.merge(df_features, on="track_id", how="inner")
df_joined.head()

,track_id,track_title,artist_name,album_title,album_id,mfcc_mean_1,mfcc_mean_2,mfcc_mean_3,mfcc_mean_4,mfcc_mean_5,...,spectral_centroid_mean_1,spectral_centroid_std_1,spectral_bandwidth_mean_1,spectral_bandwidth_std_1,spectral_rolloff_mean_1,spectral_rolloff_std_1,rmse_mean_1,rmse_std_1,zcr_mean_1,zcr_std_1
0,2,Food,AWOL,AWOL - A Way Of Life,1,-164.0,117.0,-41.8,29.1,-15.10,...,1640.0,720.0,1610.0,437.0,3270.0,1300.0,3.19,2.54,0.0856,0.0614
1,3,Electric Ave,AWOL,AWOL - A Way Of Life,1,-159.0,120.0,-33.2,47.3,-6.25,...,1760.0,973.0,1740.0,487.0,3510.0,1650.0,3.61,1.95,0.0846,0.0693
2,5,This World,AWOL,AWOL - A Way Of Life,1,-205.0,132.0,-16.1,41.5,-7.64,...,1290.0,665.0,1510.0,474.0,2770.0,1320.0,3.25,2.59,0.0531,0.0449
3,10,Freeway,Kurt Vile,Constant Hitmaker,6,-136.0,157.0,-53.5,17.2,6.87,...,1360.0,669.0,1420.0,605.0,2600.0,1520.0,3.89,2.00,0.0775,0.0408
4,20,Spiritual Level,Nicky Cook,Niris,4,-135.0,115.0,12.4,19.8,18.70,...,1730.0,482.0,2490.0,340.0,4200.0,1500.0,4.60,2.18,0.0472,0.0310

In [9]:
df_joined.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104993 entries, 0 to 104992
Data columns (total 79 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   track_id                   104993 non-null  int64
 1   track_title                104993 non-null  object
 2   artist_name                104993 non-null  object
 3   album_title                104993 non-null  object
 4   album_id                   104993 non-null  int64
 5   mfcc_mean_1                104993 non-null  float64
 6   mfcc_mean_2                104993 non-null  float64
 7   mfcc_mean_3                104993 non-null  float64
 8   mfcc_mean_4                104993 non-null  float64
 9   mfcc_mean_5                104993 non-null  float64
 10  mfcc_mean_6                104993 non-null  float64
 11  mfcc_mean_7                104993 non-null  float64
 12  mfcc_mean_8                104993 non-null  float64
 13  mfcc_mean_9                104993 non-null  float64
 14  mfcc_mean_10               104993 non-null  float64
 15  mfcc_mean_11               104993 non-null  float64
 16  mfcc_mean_12               104993 non-null  float64
 17  mfcc_mean_13               104993 non-null  float64
 18  mfcc_mean_14               104993 non-null  float64
 19  mfcc_mean_15               104993 non-null  float64
 20  mfcc_mean_16               104993 non-null  float64
 21  mfcc_mean_17               104993 non-null  float64
 22  mfcc_mean_18               104993 non-null  float64
 23  mfcc_mean_19               104993 non-null  float64
 24  mfcc_mean_20               104993 non-null  float64
 25  mfcc_std_1                 104993 non-null  float64
 26  mfcc_std_2                 104993 non-null  float64
 27  mfcc_std_3                 104993 non-null  float64
 28  mfcc_std_4                 104993 non-null  float64
 29  mfcc_std_5                 104993 non-null  float64
 30  mfcc_std_6                 104993 non-null  float64
 31  mfcc_std_7                 104993 non-null  float64
 32  mfcc_std_8                 104993 non-null  float64
 33  mfcc_std_9                 104993 non-null  float64
 34  mfcc_std_10                104993 non-null  float64
 35  mfcc_std_11                104993 non-null  float64
 36  mfcc_std_12                104993 non-null  float64
 37  mfcc_std_13                104993 non-null  float64
 38  mfcc_std_14                104993 non-null  float64
 39  mfcc_std_15                104993 non-null  float64
 40  mfcc_std_16                104993 non-null  float64
 41  mfcc_std_17                104993 non-null  float64
 42  mfcc_std_18                104993 non-null  float64
 43  mfcc_std_19                104993 non-null  float64
 44  mfcc_std_20                104993 non-null  float64
 45  chroma_cqt_mean_1          104993 non-null  float64
 46  chroma_cqt_mean_2          104993 non-null  float64
 47  chroma_cqt_mean_3          104993 non-null  float64
 48  chroma_cqt_mean_4          104993 non-null  float64
 49  chroma_cqt_mean_5          104993 non-null  float64
 50  chroma_cqt_mean_6          104993 non-null  float64
 51  chroma_cqt_mean_7          104993 non-null  float64
 52  chroma_cqt_mean_8          104993 non-null  float64
 53  chroma_cqt_mean_9          104993 non-null  float64
 54  chroma_cqt_mean_10         104993 non-null  float64
 55  chroma_cqt_mean_11         104993 non-null  float64
 56  chroma_cqt_mean_12         104993 non-null  float64
 57  chroma_cqt_std_1           104993 non-null  float64
 58  chroma_cqt_std_2           104993 non-null  float64
 59  chroma_cqt_std_3           104993 non-null  float64
 60  chroma_cqt_std_4           104993 non-null  float64
 61  chroma_cqt_std_5           104993 non-null  float64
 62  chroma_cqt_std_6           104993 non-null  float64
 63  chroma_cqt_std_7           104993 non-null  float64
 64  chroma_cqt_std_8           104993 non-null  float64
 65  chroma_cqt_std_9           104993 non-null  float64
 66  chroma_cqt_std_10          104993 non-null  float64
 67  chroma_cqt_std_11          104993 non-null  float64
 68  chroma_cqt_std_12          104993 non-null  float64
 69  spectral_centroid_mean_1   104993 non-null  float64
 70  spectral_centroid_std_1    104993 non-null  float64
 71  spectral_bandwidth_mean_1  104993 non-null  float64
 72  spectral_bandwidth_std_1   104993 non-null  float64
 73  spectral_rolloff_mean_1    104993 non-null  float64
 74  spectral_rolloff_std_1     104993 non-null  float64
 75  rmse_mean_1                104993 non-null  float64
 76  rmse_std_1                 104993 non-null  float64
 77  zcr_mean_1                 104993 non-null  float64
 78  zcr_std_1                  104993 non-null  float64
dtypes: float64(74), int64(2), object(3)
memory usage: 81.2 MB

In [ ]:
df_joined.to_csv('./data/processsed/fma_metadata_features_joined.csv', index=False)